-- Script de diagnostic backend pour GesFlex Pro
-- À exécuter dans l'interface SQL de Supabase

-- 1. Vérifier l'état de la base de données
SELECT '=== DIAGNOSTIC BACKEND ===' as section;

-- Vérifier les types ENUM critiques
SELECT 'Types ENUM requis:' as info;
SELECT 
    typname,
    CASE 
        WHEN typname IN ('user_role', 'user_status') THEN 'Type critique'
        ELSE 'Type système'
    END as importance
FROM pg_type 
WHERE typnamespace = (SELECT oid FROM pg_namespace WHERE nspname = 'public')
AND typtype = 'e'
AND typname IN ('user_role', 'user_status')
ORDER BY typname;

-- Vérifier la structure de la table users
SELECT 'Structure table users:' as info;
SELECT 
    column_name,
    data_type,
    is_nullable,
    column_default,
    CASE 
        WHEN column_name IN ('id', 'auth_id', 'email', 'first_name', 'last_name', 'role', 'status') 
        THEN 'Colonne critique'
        ELSE 'Colonne optionnelle'
    END as importance
FROM information_schema.columns 
WHERE table_name = 'users' 
AND table_schema = 'public'
ORDER BY ordinal_position;

-- 2. Vérifier les triggers critiques
SELECT 'Triggers dinscription:' as info;
SELECT 
    trigger_name,
    event_object_table,
    event_manipulation,
    action_timing,
    CASE 
        WHEN trigger_name = 'handle_new_user' THEN 'Trigger critique'
        ELSE 'Trigger système'
    END as importance
FROM information_schema.triggers 
WHERE event_object_table = 'users'
AND event_object_schema = 'auth'
ORDER BY trigger_name;

-- 3. Vérifier la fonction handle_new_user
SELECT 'Fonction handle_new_user:' as info;
SELECT 
    routine_name,
    routine_type,
    CASE 
        WHEN routine_definition LIKE '%INSERT INTO public.users%' THEN 'Logique dinsertion présente'
        ELSE 'Logique dinsertion manquante'
    END as logique_insertion,
    CASE 
        WHEN routine_definition LIKE '%SECURITY DEFINER%' THEN 'Sécurité configurée'
        ELSE 'Sécurité non configurée'
    END as securite
FROM information_schema.routines 
WHERE routine_name = 'handle_new_user'
AND routine_schema = 'public';

-- 4. Test de simulation d'inscription
SELECT '=== TEST SIMULATION INSCRIPTION ===' as section;

DO $$
DECLARE
    test_user_id UUID;
    test_email TEXT := 'test@simulation.com';
    test_first_name TEXT := 'Test';
    test_last_name TEXT := 'Simulation';
    trigger_worked BOOLEAN := FALSE;
    manual_insert_worked BOOLEAN := FALSE;
BEGIN
    RAISE NOTICE 'Début du test de simulation dinscription...';
    
    -- Test 1: Vérifier si on peut insérer dans auth.users
    BEGIN
        INSERT INTO auth.users (
            instance_id,
            id,
            aud,
            role,
            email,
            encrypted_password,
            email_confirmed_at,
            recovery_sent_at,
            last_sign_in_at,
            raw_app_meta_data,
            raw_user_meta_data,
            created_at,
            updated_at,
            confirmation_token,
            email_change,
            email_change_token_new,
            recovery_token
        ) VALUES (
            '00000000-0000-0000-0000-000000000000',
            gen_random_uuid(),
            'authenticated',
            'authenticated',
            test_email,
            crypt('password123', gen_salt('bf')),
            NOW(),
            NOW(),
            NOW(),
            '{"provider":"email","providers":["email"]}',
            format('{"first_name":"%s","last_name":"%s"}', test_first_name, test_last_name),
            NOW(),
            NOW(),
            '',
            '',
            '',
            ''
        ) RETURNING id INTO test_user_id;
        
        RAISE NOTICE 'Insertion dans auth.users réussie, ID: %', test_user_id;
        
        -- Test 2: Vérifier si le trigger a fonctionné
        IF EXISTS (SELECT 1 FROM public.users WHERE auth_id = test_user_id) THEN
            RAISE NOTICE 'Trigger handle_new_user a fonctionné';
            trigger_worked := TRUE;
        ELSE
            RAISE NOTICE 'Trigger handle_new_user a échoué';
        END IF;
        
        -- Test 3: Vérifier les données insérées
        SELECT 
            email,
            first_name,
            last_name,
            role,
            status
        INTO 
            test_email,
            test_first_name,
            test_last_name
        FROM public.users 
        WHERE auth_id = test_user_id;
        
        RAISE NOTICE 'Données insérées: email=%, first_name=%, last_name=%, role=%, status=%', 
            test_email, test_first_name, test_last_name, 'Vendeur', 'pending';
        
        -- Nettoyer
        DELETE FROM auth.users WHERE id = test_user_id;
        DELETE FROM public.users WHERE auth_id = test_user_id;
        
    EXCEPTION WHEN OTHERS THEN
        RAISE NOTICE 'Erreur lors de linsertion dans auth.users: %', SQLERRM;
    END;
    
    -- Test 4: Test d'insertion manuelle dans public.users
    BEGIN
        INSERT INTO public.users (auth_id, email, first_name, last_name, role, status)
        VALUES (gen_random_uuid(), 'manual@test.com', 'Manual', 'Test', 'Vendeur', 'pending');
        RAISE NOTICE 'Insertion manuelle dans public.users réussie';
        manual_insert_worked := TRUE;
        
        -- Nettoyer
        DELETE FROM public.users WHERE email = 'manual@test.com';
    EXCEPTION WHEN OTHERS THEN
        RAISE NOTICE 'Erreur lors de linsertion manuelle: %', SQLERRM;
    END;
    
    -- Résumé du test
    RAISE NOTICE '=== RÉSUMÉ DU TEST ===';
    RAISE NOTICE 'Trigger handle_new_user: %', CASE WHEN trigger_worked THEN 'FONCTIONNE' ELSE 'ÉCHEC' END;
    RAISE NOTICE 'Insertion manuelle: %', CASE WHEN manual_insert_worked THEN 'FONCTIONNE' ELSE 'ÉCHEC' END;
    
END $$;

-- 5. Vérifier les permissions critiques
SELECT '=== PERMISSIONS CRITIQUES ===' as section;

-- Permissions sur auth.users
SELECT 'Permissions auth.users:' as info;
SELECT 
    grantee,
    privilege_type,
    is_grantable
FROM information_schema.role_table_grants 
WHERE table_name = 'users'
AND table_schema = 'auth'
AND grantee IN ('anon', 'authenticated', 'service_role')
ORDER BY grantee, privilege_type;

-- Permissions sur public.users
SELECT 'Permissions public.users:' as info;
SELECT 
    grantee,
    privilege_type,
    is_grantable
FROM information_schema.role_table_grants 
WHERE table_name = 'users'
AND table_schema = 'public'
AND grantee IN ('anon', 'authenticated', 'service_role')
ORDER BY grantee, privilege_type;

-- 6. Vérifier les politiques RLS
SELECT '=== POLITIQUES RLS ===' as section;
SELECT 
    policyname,
    cmd,
    CASE 
        WHEN cmd = 'INSERT' THEN 'Politique dinsertion'
        WHEN cmd = 'SELECT' THEN 'Politique de lecture'
        WHEN cmd = 'UPDATE' THEN 'Politique de modification'
        ELSE 'Autre politique'
    END as type_politique
FROM pg_policies 
WHERE tablename = 'users'
AND schemaname = 'public'
ORDER BY cmd, policyname;

-- 7. Diagnostic final
SELECT '=== DIAGNOSTIC FINAL ===' as section;
SELECT 
    CASE 
        WHEN EXISTS (SELECT 1 FROM pg_type WHERE typname = 'user_role') 
        THEN 'Type user_role OK'
        ELSE 'Type user_role MANQUANT'
    END as diagnostic_1
UNION ALL
SELECT 
    CASE 
        WHEN EXISTS (SELECT 1 FROM pg_type WHERE typname = 'user_status') 
        THEN 'Type user_status OK'
        ELSE 'Type user_status MANQUANT'
    END as diagnostic_2
UNION ALL
SELECT 
    CASE 
        WHEN EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'users' AND table_schema = 'public') 
        THEN 'Table users OK'
        ELSE 'Table users MANQUANTE'
    END as diagnostic_3
UNION ALL
SELECT 
    CASE 
        WHEN EXISTS (SELECT 1 FROM information_schema.triggers WHERE trigger_name = 'handle_new_user') 
        THEN 'Trigger handle_new_user OK'
        ELSE 'Trigger handle_new_user MANQUANT'
    END as diagnostic_4
UNION ALL
SELECT 
    CASE 
        WHEN EXISTS (SELECT 1 FROM information_schema.routines WHERE routine_name = 'handle_new_user') 
        THEN 'Fonction handle_new_user OK'
        ELSE 'Fonction handle_new_user MANQUANTE'
    END as diagnostic_5
UNION ALL
SELECT 
    CASE 
        WHEN EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'users' AND schemaname = 'public' AND cmd = 'INSERT') 
        THEN 'Politique RLS INSERT OK'
        ELSE 'Politique RLS INSERT MANQUANTE'
    END as diagnostic_6;
